* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: Lora, serif;
}

.footer {
  position: fixed;
  left: 0;
  z-index: 2;
  height: 100%;
  background-color: #EAEAEA;
  width: 6vh;
  display: flex;
 
}

h2 {
    padding-bottom: 2em;
    font-size: 28px;
}
.cursiva {
    padding-top: 2em;
}

.progress-container {
  width: 10px;
  height: 95vh;
  background: #fff;
  margin: 1em 1em 1em 1em;
  border-radius: 10px;
}

.progress-bar {
  height: 95vh;
  background: #2c3e50;
  width: 10px;
  align-items: center;
  border-radius: 10px;
}

.sidebar {
    position: fixed;
    left: 6vh;
    z-index: 2;
    height: 100%;
    width: 6vh;
    background-color: #EAEAEA;
    border-radius: 0 20px 20px 0;
    border-left: 2px solid #2c3e50;
}

.content {
  display: grid;
  grid-template-columns: 50% 50%;
}



.texto {
    padding-right: 160px;
    padding-left: 60px;
    padding-top: 90px;
    grid-column-start: 2;
}


p {
    font-size: 19px;
    line-height: 27px;
}
p.lista {
    padding-top: 1em;
}
p.lista-2 {
    padding-top: 1em;
    padding-left: 2em;
    font-size: 18px;
}
img {
    height: 50vh;
    margin: auto;
}
.img-capitulo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1c40f;
    height: 100vh;
    width: 50%;
    position: fixed;
    
}

@media (max-width: 1200px){
    .content {
        grid-template-columns: 100%;
        padding-top: 0px;
        padding-bottom: 20px;
        margin: 2rem auto;
        
    }
    .btn-siguiente, .btn-anterior {
        display: none;
    }
    .texto-d, .texto-i {
        padding: 0;
        margin: 0;
    }
    p {
        max-width: 30em;
        margin: auto;
    }
    p.titulo {
        padding-bottom: 3em;
        max-width: 19em;
        font-size: 28px;
    }
    
    
    .img-capitulo {
        padding-bottom: 4em;
        margin-bottom: 4em;
    }
    

    @media (max-width: 620px) {
        p {
            margin-left: 23px;
            margin-right: 23px;
        }
        img {
            height: 50vh;
        }
    }