* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Lora, serif;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-style: italic;
    font-size: 2rem;
    padding-top: 2rem;
}

ol#menu li {
    display: inline;
}

header {

    padding: 2rem;
    font-size: 20px;
}

li {
    padding-right: 4rem;
}

main {
    padding: 3rem 2rem 2rem 2rem;
    margin-right: 92px;

}

aside {
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 60px;
    background-color: #242939;
    padding: 1rem;

    color: white;

   
}

div {
    width: 35px;
    height: 4px;
    background-color: white;
    margin: 6px 0;
  }

  .burgermenu {
      margin: auto;
  }