* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Lora, serif;

}

h1 {
    font-size: 4rem;
    font-weight: 400;
}

h2 {
    font-style: italic;
    font-weight: 400;
    font-size: 35px;
    padding-top: 2rem;
}

h3 {
    font-size: 2em;
    font-weight: 400;
}

nav.menu a {
    text-decoration: none;
    color: black;
    padding: 5px 2rem;
    border-radius: 3px;
    margin-right: 2rem;
}

nav.menu a:hover {
    color: white;
    border: #242939 solid 1px;
    background-color: #242939;
}

nav.menu {
    position: absolute;
    left: 230px;
}


ol#menu li {
    display: inline;
}

header {
    padding: 2rem 2rem 2rem 100px;
    font-size: 20px;
}

li {
    padding-right: 4rem;
}

.secciones-indice {
    padding-left: 2rem;
}

main {
    padding: 3rem 2rem 2rem 100px;
    margin-left: 130px;
}

p.autores {
    padding-top: 15em;
    color: grey;
    font-style: italic;
}

.sidebar {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 450px;
    height: 100%;
    background-color: #242939;
    color: white;
    left: -450px;
    transition: left 0.4s ease;
}

.sidebar.show {
    left: 0px;
}

.sidebar ol li {
    list-style: none;
    color: #fff;
    font-size: 20px;
    padding: 1rem 0 0 0;

}

section.menuvertical {
    
    position: absolute;
    left: 0;
    top: 0;
    width: 78px;
    height: 100%;
    background-color: #242939;
}

.toggle-btn {
    position: absolute;
    top: 1.5em;
    align-content: center;
    left: 1em;
    cursor: pointer;
    
    padding: 5px 5px 8px 5px;
    border-radius: 3px;
    
  }
  
  .toggle-btn span {
    width: 35px;
    height: 4px;
    background: #fff;
    display: block;
    margin-top: 6px;
    border-radius: 3px;
  }

  .toggle-btn:hover {
      border: none;
      background-color: #fff;
}

.toggle-btn:hover span {
    background: #242939;
}



  .toggle-btn.click {
      left: 500px;
  }


p.indicevertical {
    transform: rotate(90deg);
    transform-origin: top left;
    position: absolute;
    left: 3rem;
    top: 22rem;
    line-height: 1;
    width: 24rem;
    height: 2em;
    color: #fff;
}



  .indice {
      position: absolute;
      left: 70px;
      top: 80px;
  }

  