* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Lora, serif;

}

h1 {
    font-size: 4rem;
    font-weight: 400;
}

h2 {
    font-style: italic;
    font-weight: 400;
    font-size: 35px;
    padding-top: 2rem;
}

h3 {
    font-size: 2em;
    font-weight: 400;
}

.head {
    display: flex;
}

nav.menu a {
    text-decoration: none;
    color: white;
    padding: 5px 2rem;
    border-radius: 3px;
    margin-right: 2rem;
    border: #546de5 solid 1px;
    background-color: #546de5;
}





header {
    padding: 2rem 2rem 2rem 0px;
    font-size: 20px;
    margin-left: 180px;
}


main {
    margin-top: 100px;
    margin-left: 180px;
    margin-right: 180px;
    
}

.section div:hover {
    border: orange solid 1px;
}

div.section {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    row-gap: 3em;
}

p.autores {
    padding-top: 15em;
    color: grey;
    font-style: italic;
}





  




