* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: Lora, serif;
}

#pag1, #pag2, #pag3 {
    height: 100vh;
}

.header {
  position: fixed;
  bottom: 0;
  z-index: 2;
  width: 100%;
  background-color: #EAEAEA;
  height: 6vh;
  display: flex;
  border-radius: 15px 15px 0 0;
}

.header h2 {
  text-align: center;
}

.progress-container {
  width: 100%;
  height: 10px;
  background: #fff;
  margin: auto 1em;
  border-radius: 10px;
}

.progress-bar {
  height: 10px;
  background: #192A56;
  width: 0%;
  align-items: center;
  border-radius: 10px;
}

.content {
  padding-top: 80px;
  padding-bottom: 120px;
  display: grid;
  grid-template-columns: 50% 50%;
}

.texto-d, .texto-i {
    
    max-height: 653px;
}
.texto-i {
    padding-left: 160px;
    padding-right: 60px;
}
.texto-d {
    padding-right: 160px;
    padding-left: 60px;
}


p {
    font-size: 18px;
    line-height: 25px;
}

.btn-siguiente, .btn-anterior {
    position: relative;
    top: 3em;
    color: white;
    background-color: #192A56;
    padding: 8px;
    border-radius: 3px;
}

img {
    height: 80vh;
}
.img-capitulo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6e58d;
    height: 100vh;
    margin-top: -80px;
}

@media (max-width: 1200px){
    .content {
        grid-template-columns: 100%;
        padding-top: 0px;
        padding-bottom: 20px;
        margin: 2rem auto;
        
    }
    .btn-siguiente, .btn-anterior {
        display: none;
    }
    .texto-d, .texto-i {
        padding: 0;
    }
    p {
        max-width: 30em;
        margin: auto;
    }
    #pag1, #pag2, #pag3 {
        height: 100%;
    }
    .img-capitulo {
        margin-bottom: 4em;
    }
}