* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: Lora, serif;
}

section.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
}
.img {
    background-color: #b2bec3;
    display: flex;
    height: 100vh;
}

img {
    height: 650px;
    display: block;
    margin: auto;
    padding-top: 3em;
}

h3 {
    font-size: 2em;
    font-weight: 400;
    padding-bottom: 1em;
}

p {
    font-size: 18px;
    line-height: 27px;
    max-width: 27em;
}

.texto-d {
    padding: 3em 6em 5em 4em;
}
.texto-i {
    padding: 3em 0em 5em 5em;
}

a.btn-siguiente {
    background-color: black;
    color: white;
    padding: 8px;
    
}
.sidebar {
    position: fixed;
    right: 0;
    background-color: #192a56;
    height: 100vh;
    width: 6vh;
    color: white;
 }


@media (max-width: 1200px){
    section.grid {
        grid-template-columns: 100%;
        height: 100%;
    }
    .texto-d, .texto-i {
        margin: auto;
        height: 100%;
        padding: 0;
        padding-top: 12px;
    }
    a.btn-siguiente {
        display: none;
    }
    .img {
        margin-bottom: 2em;
    }
}